.jkl{
    height: 50%;
    width: 50px;
border-radius: 200px;

}

.hh{
    height:450px;
    width:1500px;
}

@media(max-width:468px){
    .jkl{
        height: 80px;
        width: 80px;
    }
     .hh{
            height:400px;
            width:500px;
        }
        h1{
    font-size: 10px;
  }
}

  
.heading {
    text-transform: uppercase;
    position: relative;

  }
  
  .heading h1 {
  text-align: center;
  overflow: hidden;
  color: black;
  white-space: nowrap;

  }
  .heading h1:before,
  .heading h1:after {
  content: '';
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid;
  height: 0;
  vertical-align: middle;
  }
  .heading h1:before {
  margin-left: -100%;
  margin-right: 80px;
  }
  .heading h1:after {
  margin-left: 80px;
  margin-right: -100%;
  }
  /* .card{
  margin-left: 400px;
  margin-top: 30px;
  background-color: coral;
  width: 40%;
  height: 200px;
  border-radius: 20px;
}
.card h1{
  text-align: center;
}
.card button{
  text-align: center;
}
.btn {
margin-left: 200px;
} */
.card {
    flex-direction: row;
  }
  
  .card .card-media {
    width: 80px;
    height: 80px;
  }
  
  .card .card-media img {
    width: 100%;
    height: 100%;
  }
  
  .card .card-body {
    width: calc(100% - 218px);
    padding: 16px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  
  .card .card-body .card-title {
    color: #0066c0;
  }
  
  .card .card-body .card-text small {
    display: flex;
    width: 100%;
  }
  
  .card .card-body .card-footer {
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    padding: 0.75rem 0 0 0;
    align-items: center;
  }
  
  .card .card-body .card-footer .card-price {
    color: #111;
    font-size: 18px;
  }
  
  .card .card-body .card-footer .card-price small {
    display: flex;
    width: 100%;
    color: #555;
    font-size: 12px;
  }
  
  @media only screen and (max-width: 991px) {
    .card {
      flex-direction: column;
    }
  
    .card .card-media img {
      object-fit: contain;
    }
  
    .card .card-body {
      width: 100%;
    }
  }
  .loc {
    font-size: small;
    color: grey;
    margin-top: -15px;
    margin-left: 83px;
  }
  .containers {
    display: flex;
  
    height: 150px;
  }
  
  .column {
    flex: 1;
    color: white;
  }
  p {
    color: darkgray;
    margin-bottom: 8px;
  }
  a {
    text-decoration: none;
    outline: none;
  }
  .btn {
    border-radius: 20px;
  }
  .custom-icon {
    font-size: 15px;
    /* background:#fff; */
  
    padding: 4px;
  
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    border: 2px solid grey;
    color: black;
  
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
  
  .fix-editor {
    display: none;
  }
  .icon-wrapper {
    display: inline-block;
    margin-left: 50px;
    margin-top: 50px;
  }
  
  .ss {
    border-color: white;
    background-color: white;
    box-shadow: none;
    cursor: pointer;
    margin: 10px;
    color: #555;
  }
  /* Define colors */
  :root {
    --color--white: #ffffff;
    --color--black: #000000;
    --color--light-grey: #e6e6e6;
    --color--grey: #cccccc;
    --color--dark-grey: #7b7b7b;
    --color--primary: #2aa1c0;
    --color--secondary: #0e647d;
  }
  
  /* Box to contain form controls */
  .control-group {
    display: inline-block;
    vertical-align: top;
    background: var(--color--white);
    text-align: left;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 1px;
    width: 300px;
    height: auto;
    margin: 1px;
  }
  
  /* Basic control styles */
  .control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 18px;
  }
  
  /* Hide default browser input */
  .control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  
  /* Custom control */
  .control__indicator {
    position: absolute;
    top: 10px;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    background: var(--color--light-grey);
  }
  
  /* Make radio buttons circular */
  .control--radio .control__indicator {
    border-radius: 50%;
  }
  
  /* Hover and focus styles */
  .control:hover input ~ .control__indicator,
  .control input:focus ~ .control__indicator {
    background: var(--color--grey);
  }
  
  /* Checked styles */
  .control input:checked ~ .control__indicator {
    background: var(--color--primary);
  }
  
  /* Hover when checked styles */
  .control:hover input:not([disabled]):checked ~ .control__indicator,
  .control input:checked:focus ~ .control__indicator {
    background: var(--color--secondary);
  }
  
  /* Hide default browser input for disabled elements */
  .control input:disabled ~ .control__indicator {
    background: var(--color--light-grey);
    opacity: 0.6;
    pointer-events: none;
  }
  
  /* Show the checkmark */
  .control__indicator:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Display the checkmark when the input is checked */
  .control input:checked ~ .control__indicator:after {
    display: block;
  }
  
  /* Checkbox tick */
  .control--checkbox .control__indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid var(--color--white);
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }
  
  /* Disabled tick color for checkboxes */
  .control--checkbox input:disabled ~ .control__indicator:after {
    border-color: var(--color--dark-grey);
  }
  
  @media (max-width: 768px) {
    h6{
      font-size: 13px;
    }
    .col-8 {
      flex: 0 0 auto;
      width: 100%;
    }
    .card-title {
      font-size: 10px;
    }
  p{font-size: 13px;}
    /* #col1{
    margin-top: 300px;
    margin-left: -170px;
  } */
    .col-6 {
      flex: 0 0 auto;
      width: 100%;
      margin: 2px;
      padding: 20px;
    }
    .icon-wrapper {
      display: none;
    }
    .ss {
      font-size: 15px;
    }
  }
  .loc1 {
    /* margin-top: -100px; */
    font-size: small;
    margin-left: 80px;
  }
  .checkbox-container {
    height: 130px; /* Adjust the height as needed */
    overflow-y: auto;
    overflow-x: hidden;
  }